<footer class="footer">
    <div class="container bottom_border">
        <div class="row">
           <div class="col-lg-3 col-md-6 col-sm-6 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
                <!--headin5_amrc-->
                <p class="mb10">AS mart since 10 years ,And our service is farmers login to easy and flexible our daily routine </p>
                <p><i class="fa fa-location-arrow"></i> near ettumanoor temple </p>
                <p><i class="fa fa-phone"></i> +91-9924762476 </p>
                <p><i class="fa fa fa-envelope"></i> arjsan2476@gmail.com </p>
           </div>
           
            <div class="col-lg-3 col-md-6 col-sm-6">
                <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
                <!--headin5_amrc-->
                <ul class="footer_ul_amrc">
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">BLOG</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
                <!--footer_ul_amrc ends here-->
            </div>
            
        </div>
    </div>
    <div class="container">
        <div class="footer-logo">
            <a href="#"><img src="images/footer-logo.png" alt="" /></a>
        </div>
        <!--foote_bottom_ul_amrc ends here-->
        <p class="copyright text-center">All Rights Reserved. &copy; 2024<a href="#">farmers login</a> Design By : 
            <a href="#">aS creation</a>
        </p>
        <ul class="social_footer_ul">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
        <!--social_footer_ul ends here-->
    </div>
</footer>
  
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>