

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Login</title>
  <link rel="stylesheet" href="/admin/css/style.css">
</head>
<body style="background-image: url('/images/homepagebannertoday.jpg'); background-repeat: no-repeat; background-size: cover;">
  <section class="container">
    <div class="login-container">
      <div class="circle circle-one"></div>
      <div class="form-container">
        
        <h1 class="opacity">Admin Login</h1>
        <form action="/admin/login" method="POST">
          <input id="email" type="text" name="email" placeholder="Email" required />
          <input id="password" type="password" name="password" placeholder="Password" required />
          <button class="opacity" type="submit">Login</button>
        </form>
        <div class="register-forget opacity">
          <!-- Additional links like "Forgot Password" can be added here -->
        </div>
      </div>
      <div class="circle circle-two"></div>
    </div>
  </section>
</body>
</html>
